USE [master]
GO
/****** Object:  Database [PBL]    Script Date: 16/11/2021 10:23:44 am ******/
CREATE DATABASE [PBL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PBL', FILENAME = N'C:\Users\danielle meer\PBL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PBL_log', FILENAME = N'C:\Users\danielle meer\PBL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PBL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PBL]
GO
USE [PBL]
GO
/****** Object:  Table [dbo].[JOB_POSTING]    Script Date: 16/11/2021 10:23:44 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOB_POSTING](
	[POSTID] [int] IDENTITY(1,1) NOT NULL,
	[COMPANYNAME] [varchar](150) NULL,
	[JOBFIELD] [varchar](100) NULL,
	[CITY] [varchar](150) NULL,
	[COUNTRY] [varchar](60) NULL,
	[SALARY] [int] NULL,
	[DESCIPT] [varchar](1000) NULL,
	[QUALI] [varchar](1000) NULL,
	[DETAILS] [varchar](1000) NULL,
	[POSTDATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[POSTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ACCOUNTS]    Script Date: 16/11/2021 10:23:44 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ACCOUNTS](
	[FIRST_NAME] [varchar](150) NULL,
	[LAST_NAME] [varchar](150) NULL,
	[EMAIL] [varchar](150) NULL,
	[GENDER] [varchar](150) NULL,
	[CITY] [varchar](150) NULL,
	[COUNTRY] [varchar](150) NULL,
	[PASSWARD] [varchar](150) NULL,
	[CONFIRMED_PASSWARD] [varchar](150) NULL,
	[AGE] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_DATA_PROFILE]    Script Date: 16/11/2021 10:23:44 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_DATA_PROFILE](
	[EMAIL] [varchar](150) NULL,
	[ABOUT_ME] [ntext] NULL,
	[EDUCATION] [ntext] NULL,
	[WORK] [ntext] NULL,
	[SKILLS] [ntext] NULL,
	[JOB_TITLE] [varchar](150) NULL,
	[PROFILE_PICTURE] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
