USE [master]
GO
/****** Object:  Database [PBL]    Script Date: 11/11/2021 6:12:45 pm ******/
CREATE DATABASE [PBL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PBL', FILENAME = N'C:\Users\danielle meer\PBL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PBL_log', FILENAME = N'C:\Users\danielle meer\PBL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PBL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PBL]
GO
USE [PBL]
GO
/****** Object:  Table [dbo].[USER_ACCOUNTS]    Script Date: 11/11/2021 6:12:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ACCOUNTS](
	[FIRST_NAME] [varchar](150) NULL,
	[LAST_NAME] [varchar](150) NULL,
	[EMAIL] [varchar](150) NULL,
	[GENDER] [varchar](150) NULL,
	[CITY] [varchar](150) NULL,
	[COUNTRY] [varchar](150) NULL,
	[PASSWARD] [varchar](150) NULL,
	[CONFIRMED_PASSWARD] [varchar](150) NULL,
	[AGE] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
